/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700); */

body {
  background-color: #efefef !important;
}
h2 {
  color: red;
  font-size: 80px;
}

/* footer */

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

footer {
  /* clear: both; */
  position: relative;
  height: 200px;
  margin-top: -200px;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* footer */
