/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700); */

body {
  background-color: #efefef !important;
}
h2 {
  color: red;
  font-size: 80px;
}

/* footer */

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
