{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">

{% endblock %}
{% block content %}

<div class="diet-select" style="padding: 3rem;">
    <div class="container">

        <div class="row">
            <h4>Select Diet</h4>
        </div>
        <div class="row justify-content-start">

            <div class="col-md-4 col-sm-4">
                <a type="button" class="btn btn-success btn-c" href="{{url_for('diet',name='vegetarian')}}">Veg</a>
                <a type="button" class="btn btn-danger btn-c"
                    href="{{url_for('diet',name='non-vegetarian')}}">Non-Veg</a>

            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        {% for key,value in dishes.items()%}
        <!-- <div class="col-xs-6 col-sm-3 dish_frame_{{ value }}" onclick="recipe('{{ key }}')" title="{{ key }}">
            <img src="{{ url_for('static', filename = 'image_dataset/' + key + ' indian dish/Image_1.jpg') }}"
                alt="{{ key }}" height="200px" width="100%" class="zoom" title="{{ key }}">
            <h4 title="{{ key }}" style="text-transform: capitalize;">{{ key|truncate(15,False) }}</h4>
        </div> -->
        <div class="col-md-4 col-sm-6" title=" {{ key }}" onclick="recipe('{{ key }}')">

            <div class="card-wrapper" onclick="recipe('{{ key }}')">
                <div class="card-image">
                    <img src="{{ url_for('static', filename = 'image_dataset/' + key + ' indian dish/Image_1.jpg') }}"
                        alt="{{ key }}" class="zoom" title="{{ key }}">
                </div>
                <div class="card-info">
                    <h4 title="{{ key }}" style="text-transform: capitalize;">{{ key|truncate(15,False) }}</h4>
                </div>

            </div>
        </div>

        {%endfor%}
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="{{url_for('page',pagenum = current_page-1)}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {%for i in range(1, total_pages + 1)%}
        <li class="page-item"><a class="page-link" href="{{url_for('page',pagenum = i)}}">{{i}}</a></li>
        {%endfor%}
        <a class="page-link" href="{{url_for('page',pagenum = current_page+1)}}" aria-label="Next">

            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
    </ul>
</nav>


{% endblock %}